<h2>Hello <%= @order.user.username %>!! </h2>
<p>Your order successfully placed.. Expected delivery date is 31-12-2017 . Total bill amount is  <%= @order.total %></p>

<p2> Thank you for shopping </p2>